body {
  margin: 0;
  padding: 0 0 0 0;
  font-family: sans-serif;
}

.container-fluid {
  margin: 0;
  padding: 0 0 0 0;
}

.row.content {
  height: 1500px;
}

.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

footer {
  background-color: #555;
  color: white;
  padding: 15px;
}
